@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800&family=Quicksand:wght@300&family=Roboto+Condensed:wght@700&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;

}

* {
    width: 100%;
    cursor: pointer;

}

:root {
    --background: #FAAA53;
    --color: white;
}

body {
    margin: 0;
    background: url(https://img.freepik.com/fotos-premium/mesa-madera-vacia-fondo-interior-borroso-cafeteria-o-restaurante-puede-utilizar-exhibicion-producto_7188-1498.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: repeat-x;

}

/*inicio cabecalho*/
#cabecalho {
    box-shadow: 1px 1px 20px 1px black;
    background: black;
    padding: 10px;
    margin: auto;
    width: 950px;
    height: 2400px;

}

/*inicio menu*/
.menu-cabecalho {
    border-right: 1px solid var(--background);
    height: 660px;
    margin-top: 5px;
    width: 240px;
    color: var(--background);
    display: flex;
    flex-direction: column;
}
.menu-cabecalho span {
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 15px;
}
.menu-cabecalho img{
    border-radius: 200px
}
a {
    text-decoration: none;
    color: var(--background);
}

a:hover {
    color: #d89d5e6b;
    transition: .1s;
}

.fotos-cabecalho {
    display: flex;
    margin: auto;
    width: 950px;
    height: 450px;
}

.fotos-cabecalho img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    transition: .5s ease;;
}

.fotos-cabecalho img:hover {
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

header {
    position: sticky;
    top: 0;
}

/*fim menu*/



/*inicio combo p*/
#combo-individual-p {
    display: flex;
    background: var(--background);
    position: relative;
    left: 260px;
    width: 620px;
    height: 200px;
    bottom: 640px;
    padding-left: 10px;
    padding-bottom: 5px;
}
#combo-individual-p img {
    width: 260px;
    height: 205px;
    right: 10px;
    object-fit: cover;
    position: relative;
    display: flex;
}

#combo-individual-p p {
    white-space: nowrap;
    text-align: center;
    color: var(--color);
    font-size: 1.5em;
    font-family: monospace;
    position: relative;
    bottom: 10px;
    text-transform: uppercase;
}

#combo-individual-p span {
    font-size: 1.4em;
    position: relative;
    top: 40px;
    right: 190px;
    white-space: nowrap;
    text-align: justify;
    font-family: 'Areia movediça' !important;
}


/*fim combo p */



/*inicio combo-individual-m*/
#combo-individual-m {
    display: flex;
    background: var(--background);
    position: relative;
    left: 260px;
    width: 620px;
    height: 200px;
    bottom: 615px;
    padding-left: 10px;
    padding-bottom: 5px;

}

#combo-individual-m img {
    width: 260px;
    height: 205px;
    right: 10px;
    object-fit: cover;
    position: relative;
    display: flex;
}

#combo-individual-m p {
    white-space: nowrap;
    text-align: center;
    color: var(--color);
    font-size: 1.5em;
    font-family: monospace;
    position: relative;
    bottom: 10px;
    text-transform: uppercase;
}

#combo-individual-m span {
    font-size: 1.4em;
    position: relative;
    top: 40px;
    right: 190px;
    white-space: nowrap;
    text-align: justify;
    font-family: 'Areia movediça' !important;
}

/*  *   COMENTARIO DO CARRINHO DE COMPRA   *
#aumentar-quantidade{
    display: flex;
    justify-content: end;
    align-items: end;
    position: relative;
    top: 15px;
    left: 50px;
    background-color: rgba(128, 128, 128, 0.638);
    border-radius: 30px;
    width: 80px;
    display: none;
}
.button{
    width: 35px;
    height: 20px;
    position: relative;
    left:15px;
    padding-left: 30px;
}
.contador{
    display: flex;
    position: relative; 
    top: 0px;
    left: 35px;
    color: white;
    user-select: none;
}
#carrinho-compra{
    background-color: green;
    width: 115px;
    height: 30px;
    position: relative;
    left: 150px;
    bottom: 15px;
    border-radius:30px ;
    display: none;
}
#carrinho-compra span{
    font-size: 13px;
    position: relative;
    left: 15px;
    bottom: 23px;
}
#carrinho-compra .imagem-carrinho{
    display:flex;
    position: relative;
    left: 75px;
    bottom: 0px;
    width: 30px;
    height: 30px;
}
*/
/*fim combo-individual-m*/


/*inicio combo-individual-g*/
#combo-individual-g {
    display: flex;
    background: var(--background);
    position: relative;
    left: 260px;
    width: 620px;
    height: 200px;
    bottom: 590px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#combo-individual-g img {
    width: 260px;
    height: 205px;
    right: 10px;
    object-fit: cover;
    position: relative;
    display: flex;
}

#combo-individual-g p {
    text-align: center;
    margin: auto;
    width: 325px;
    padding-bottom: 5px;
    color: white;
    font-size: 1.5em;
    font-family: monospace;
    position: relative;
    bottom: 85px;
    white-space: nowrap;
    text-transform: uppercase;
}

#combo-individual-g span {
    font-size: 1.4em;
    position: relative;
    top: 40px;
    right: 190px;
    white-space: nowrap;
    text-align: justify;
    font-family: 'Areia movediça' !important;
}

/*fim combo-individual-g*/


#combos-casal {
    display: flex;
}

/*inicio combo-casal-p*/
#combo-casal-p {
    display: flex;
    background: var(--background);
    position: relative;
    left: 260px;
    width: 620px;
    height: 200px;
    bottom: 565px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#combo-casal-p img {
    width: 260px;
    height: 205px;
    right: 10px;
    object-fit: cover;
    position: relative;
    display: flex;
}

#combo-casal-p p {
    text-align: center;
    margin: auto;
    width: 360px;
    padding-bottom: 5px;
    color: white;
    font-size: 1.5em;
    font-family: monospace;
    position: relative;
    bottom: 85px;
    white-space: nowrap;
    text-transform: uppercase;
}

#combo-casal-p span {
    font-size: 1.4em;
    position: relative;
    top: 40px;
    right: 140px;
    white-space: nowrap;
    text-align: justify;
    font-family: 'Areia movediça' !important;
}

/*fim combo-casal-p*/


/*inicio combo-casal-m*/
#combo-casal-m {
    display: flex;
    background: var(--background);
    position: relative;
    width: 620px;
    height: 200px;
    bottom: 335px;
    right: 367px;
    padding-left: 10px;
    padding-bottom: 5px;

}

#combo-casal-m:hover {
    animation: float 6s ease-out infinite;
    cursor: pointer;
}

#combo-casal-m img {
    width: 260px;
    height: 205px;
    right: 10px;
    object-fit: cover;
    position: relative;
    display: flex;
}

#combo-casal-m p {
    text-align: center;
    margin: auto;
    width: 350px;
    padding-bottom: 5px;
    color: white;
    font-size: 1.5em;
    font-family: monospace;
    position: relative;
    bottom: 85px;
    white-space: nowrap;
    text-transform: uppercase;
}

#combo-casal-m span {
    font-size: 1.4em;
    position: relative;
    top: 40px;
    right: 140px;
    white-space: nowrap;
    text-align: justify;
    font-family: 'Areia movediça' !important;
}

/*fim combo-casal-m*/

/*inicio combo-casal-g*/
#combo-casal-g {
    display: flex;
    background: var(--background);
    position: relative;
    width: 620px;
    height: 200px;
    bottom: 100px;
    right: 996px;
    padding-left: 10px;
    padding-bottom: 5px;

}

#combo-casal-g:hover {
    animation: float 6s ease-out infinite;
    cursor: pointer;
}

#combo-casal-g img {
    width: 260px;
    height: 205px;
    right: 10px;
    object-fit: cover;
    position: relative;
    display: flex;
}

#combo-casal-g p {
    text-align: center;
    margin: auto;
    width: 350px;
    padding-bottom: 5px;
    color: white;
    font-size: 1.5em;
    font-family: monospace;
    position: relative;
    bottom: 85px;
    white-space: nowrap;
    text-transform: uppercase;
}

#combo-casal-g span {
    font-size: 1.4em;
    position: relative;
    top: 40px;
    right: 140px;
    white-space: nowrap;
    text-align: justify;
    font-family: 'Areia movediça' !important;
}


/*fim combo-casal-g*/

/*inicio combo-extreme*/
#combo-casal-extreme {
    display: flex;
    background: var(--background);
    position: relative;
    width: 620px;
    height: 200px;
    top: 135px;
    right: 1625px;
    padding-left: 10px;
    padding-bottom: 5px;

}

#combo-casal-extreme:hover {
    animation: float 6s ease-out infinite;
    cursor: pointer;
}

#combo-casal-extreme img {
    width: 260px;
    height: 205px;
    right: 10px;
    object-fit: cover;
    position: relative;
    display: flex;
}

#combo-casal-extreme p {
    text-align: center;
    margin: auto;
    width: 350px;
    padding-bottom: 5px;
    color: white;
    font-size: 1.5em;
    font-family: monospace;
    position: relative;
    bottom: 85px;
    white-space: nowrap;
    text-transform: uppercase;
}

#combo-casal-extreme span {
    font-size: 1.4em;
    position: relative;
    top: 40px;
    right: 205px;
    white-space: nowrap;
    text-align: justify;
    font-family: 'Areia movediça' !important;
}

/*fim combo-extreme*/

/*inicio combo-familia*/
#combo-familia {
    display: flex;
    background: var(--background);
    position: relative;
    left: 260px;
    width: 620px;
    height: 200px;
    top: 190px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#combo-familia img {
    width: 260px;
    height: 205px;
    right: 10px;
    object-fit: cover;
    position: relative;
    display: flex;
}

#combo-familia p {
    text-align: center;
    margin: auto;
    width: 350px;
    padding-bottom: 5px;
    color: white;
    font-size: 1.5em;
    font-family: monospace;
    position: relative;
    bottom: 85px;
    white-space: nowrap;
    text-transform: uppercase;
}

#combo-familia span {
    font-size: 1.4em;
    position: relative;
    top: 40px;
    right: 140px;
    white-space: nowrap;
    text-align: justify;
    font-family: 'Areia movediça' !important;
}

#combo-familia:hover {
    animation: float 6s ease-out infinite;
    cursor: pointer;
}

/*fim combo-familia*/


/*configuraçoes gerais*/
span {
    font-family: 'Roboto Condensed';
}
